################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VsSolutions.Tools.SolForge/bin
/src/VsSolutions.Tools.SolForge/obj
/src/.vs
/.vs